@import '~antd/dist/antd.css';
.fullHeight
{
    height: 100%;
}

.bodyStyles{
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.headerStyle{
    padding: 10px;
    background: black;
    display: flex;
    flex-flow: column;
    align-items: center;
}